.input {
  font-size: 1.2rem;
  padding: 0.8rem 0;
}

.input::placeholder {
  color: var(--text-secondary);
  font-weight: 200;
  font-family: "Crimson Text", serif;
  /* letter-spacing: 0.06rem; */
  padding-left: 0.1rem;
}

.input[type="email"] {
  border: none;
  border-radius: 0.2rem;
  color: var(--text-black);
  padding-left: 0.8rem;
}

.input[type="email"]:focus {
  border-color: #db4a87;
}
