.subscribe {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #020718;
  width: 100vw;
}

.subscribe h3 {
  font-family: "DM Sans", sans-serif;
  text-align: center;
  font-size: 28px;
  line-height: 1;
  color: #fff;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6;
}

.subscribe p {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  color: #fff;
  opacity: 0.6;
  letter-spacing: -0.5px;
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  line-height: 1.4;
}

.subscribe form {
  width: 100%;
  max-width: 555px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.form {
  background-color: rgba(255, 255, 255, 0.08);
  min-height: 4rem;
  border-radius: 45px;
  border: none;
}

.form input {
  background-color: transparent;
  border: none;
  max-width: 100%;
  outline: none;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  padding-left: 2.5rem;
  text-align: left;
}

.subscribe input::placeholder {
  letter-spacing: 0.1rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}

.subscribe button {
  background-color: #fff;
  font-weight: 500;
  font-size: 18px;
  color: #020718;
  letter-spacing: -0.2px;
  border-radius: 45px;
  margin: 10px;
  border: none;
}

.subscribe button:hover {
  background-color: #fff;
  opacity: 0.8;
}

@media (max-width: 640px) {
  .subscribe form {
    width: 80%;
  }

  .subscribe input {
    font-size: 14px;
  }

  .subscribe button {
    font-size: 14px;
    padding: 10px 25px;
  }
}
