.section {
  /* background-image: url("/static/appointment/bg.avif");
  background-repeat: no-repeat;
  background-size: cover; */
  min-height: 100vh;
  padding: 2rem 0;
  background: rgb(33, 20, 51);
  background: radial-gradient(
    circle,
    rgba(33, 20, 51, 1) 0%,
    rgba(34, 18, 57, 1) 21%,
    rgba(0, 0, 0, 1) 100%
  );
}

.container {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 32rem;
  margin: 0 auto;
  background-color: var(--bg-light);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.upperPart {
  display: flex;
  justify-content: space-evenly;
}

.logo {
  margin-left: 1rem;
  justify-content: flex-start;
}

.avatarGroup {
  display: flex;
  justify-content: space-evenly;
}

.avatar {
  width: 2rem;
}

.divider {
  background-color: var(--bg-dark);
  height: 1px;
  max-width: 10rem;
  margin: 0.5rem auto 1rem;
}

.formControl {
  margin-bottom: 1.2rem;
}

.label {
  color: var(--text-black);
  padding-left: 0.3rem;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* .btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
} */

.btn {
  margin-top: 0rem;
  border-radius: 0.3rem;
  padding: 1rem 2.5rem;
  font-family: Poppins, sans-serif;
  font-weight: 800;
  letter-spacing: 0.05rem;
  border: none;
  outline: 0;
  width: 100%;
  transition: 0.3s ease-in-out;
}

.primary {
  background-color: var(--primary-200);
  color: var(--color-white);
}

.primary:hover {
  background-color: var(--primary-300);
}

.container button {
  background-color: var(--primary-300);
}

.container button:hover {
  background-color: var(--primary-200);
}

.formControl input {
  max-width: 100%;
  outline: none;
  font-size: 16px;
  padding-left: 1rem;
  text-align: left;
}

.formControl input::placeholder {
  letter-spacing: 0.04rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: var(--text-primary);
}

@media (max-width: 600px) {
  .container {
    max-width: 25rem;
  }
}
