.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--bg-light);
  color: var(--text-black);
}

.heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.info {
  margin-bottom: 15px;
}

.label {
  font-weight: bold;
}

.value {
  margin-left: 10px;
}

.loading {
  text-align: center;
}

/* Add more styles as needed */
.container {
  margin-top: 20px;
}

.doctorRecords {
  width: 100%;
}

.heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.info {
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
}

.value {
  margin-left: 5px;
}

.patientRecords {
  display: block;
  margin-top: 40px;
}

.patientTable {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.patientTable th,
.patientTable td {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.patientTable th {
  background-color: #f5f5f5;
}

.patientTable tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.patientTable tbody tr:hover {
  background-color: #f0f0f0;
}

.btn {
  margin-top: 0rem;
  border-radius: 0.3rem;
  padding: 0.4rem 1rem;
  font-family: Poppins, sans-serif;
  font-weight: 800;
  letter-spacing: 0.05rem;
  border: none;
  outline: 0;
  width: 100%;
  transition: 0.3s ease-in-out;
}

.primary {
  background-color: var(--primary-300);
  color: var(--color-white);
}

.primary:hover {
  background-color: var(--text-primary);
}
