/* login.module.css */

.container {
  max-width: 400px;
  margin: auto;
  margin-top: 8px;
}

.formControl {
  margin-bottom: 16px;
}

.formLabel {
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  margin-top: 16px;
}
